[Unit]
Description=WireGuard Client on %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
Type=oneshot
User=root
RemainAfterExit=yes
ExecStart=/usr/bin/wg-quick up __INSTALL_DIR__/%i.conf
ExecStop=/usr/bin/wg-quick down __INSTALL_DIR__/%i.conf
ExecReload=/bin/bash -c 'exec /usr/bin/wg syncconf %i <(exec /usr/bin/wg-quick strip __INSTALL_DIR__/%i.conf)'
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

[Install]
WantedBy=multi-user.target
